.nav__login{
    justify-content: space-between;
}

.login__page-input-field{
    @include flexCenter;
    height: 80vh;
    
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $color-light-blue;
        padding: 6rem 3rem;
        border-radius: 10px;
        box-shadow: 0px 5px 34px 3px rgba(0,0,0,0.5);
        
        input{
            padding:0.2rem;
        }
    }    
    button{
        @include button;
        width: 100%;
        
    }
    .login__input-register-button{
        @include button-outline;
    }
}
//-----------------------
//----register window

.nav__arrow-back{
    width: 50px;
    height: 50px;
}
.nav__container-toggle-arrow{
    @include flexCenter;
    flex-direction: column;
}
.register__header{
    @include flexCenter;
    @include heading;
    margin-top: -2rem;
    margin-bottom: 1rem;
    
}