.nav__login{
    justify-content: space-between;
}

.login__page-input-field{
    @include flexCenter;
    height: 80vh;
    
    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $color-light-blue;
        padding: 6rem 3rem;
        border-radius: 10px;
        box-shadow: 0px 5px 34px 3px rgba(0,0,0,0.5);
        
        input{
            padding:0.2rem;
        }
    }    
    button{
        @include button;
        width: 100%;
        
    }
    .login__input-register-button{
        @include button-outline;
    }
}
//-----------------------
//----register window

.nav__arrow-back{
    width: 50px;
    height: 50px;
}
.nav__container-toggle-arrow{
    @include flexCenter;
    flex-direction: column;
}
.register__header{
    @include flexCenter;
    @include heading;
    margin-top: -2rem;
    margin-bottom: 1rem;
    
}

//-----------------------
//----logged in window
.nav__loggedin{
    @include container;
    @include flexCenter;
    justify-content: space-between;
    gap: 5rem;
    .nav__loggedin-coins__container{
        width: 140px;
        @include flexCenter;
        flex-direction: row;
        
        img{
            width: 30%;
        }
       
    }
    .nav__loggedin-user__container{
        @include flexCenter;
        flex-direction: column;
        width: 100px;
        
        img{
            width: 30%;
        }
    }
   
}
.search__box{

    @include container;
    @include flexCenter;
}
.search__input{
    display: flex;
    border: 2px solid $color-deep-blue;
    border-radius: 5px;
    padding: 2px 7px;
    margin-top: 3rem;
    width: 300px;
    span img {

        width: 25px;
    }
    input {
        
        border-style: hidden;
        &:focus{
            outline: none;
            
        }
    }

}
.loggedin__body{
    height: 70vh;
    @include flexCenter;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}
.loggedin__add-button{
    @include button;
    @include heading;
    @include flexCenter;
    font-weight: 500;
    position: fixed;
    color: $color-light;
    bottom: 3rem;
    right: 3rem;
}
div ul{
    @include flexCenter;
    @include basic-register-layout;

}
.income{
    
    @include income-template;
   
}
.expense{
    
    @include expense-template;
    
}

