
$font-base: 'Poppins',sans-serif;

$color-deep-blue: #262F60;
$color-medium-blue: #246EB9;
$color-dark: #342E37;
$color-light: #FDFFFC;
$color-light-blue: #B8C9D9;
$color-red: #d42626ea;
$color-green: #13b92e;

li,a,a:visited,:active{
    list-style: none;
    text-decoration: none;
    color: $color-dark;
  }

img{
    width: 100%;
  }

@mixin lightMode{
    h1,h2,h3,h4,h5,h6,p{
        color:$color-dark;
    }
    button{
        background: $color-medium-blue;
        color: $color-light;
        .outline{
            background: none;
            border-color: $color-medium-blue;
            color: $color-dark;
        }
    }
    img svg{
       fill:$color-deep-blue; 
    }
    body{
        background: $color-light;
    }
    
    ul{
        background: $color-light-blue;
    }
    nav{
        background: $color-light-blue;
    }
    .search__input{
        border-color:  $color-medium-blue;
    }
    
    
}
@mixin darkMode{
    h1,h2,h3,h4,h5,h6,p{
       color: $color-light;
    }
    button{
        background: $color-light-blue;
        color: $color-dark;
        .outline{
            background: none;
            border-color: $color-light;
            color: $color-light;
        }
    }
    svg{
       fill:$color-light-blue; 
    }
    body,main, .search__box,input {
        background: $color-dark;
    }
    nav{
        background: $color-medium-blue;
    }
    ul{
        background: $color-medium-blue;
    }
    .search__input{
        border-color:  $color-light-blue;
    }
    footer, .footer__copyright{
        background: $color-medium-blue;
    }
    .footer__copyright{
        background: $color-medium-blue;
    }
}

@mixin hero{
    font-weight: bold;
    font-size: 60px;
    color:$color-dark;

}

@mixin heading{
    font-weight: medium;
    font-size: 34px;
    color:$color-dark;

}

@mixin subHeading{
    font-weight: bold;
    font-size:  20px;
    color:$color-dark;
    
}

@mixin paragraph{
    
    font-size: 14px;
    color:$color-dark;
    font-weight: 400;
    
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin container{
    padding: 0 7%;
}

@mixin button {
    background-color:$color-medium-blue;
    color: $color-light;
    border-radius: 5px;
    height: fit-content;
    border: none;
    padding: 0.3rem 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
        opacity:  0.8;
    }
    &:active{
        opacity: 0.8;
    }
    &[disabled]{
        opacity: 0.4;

    }
    
  }
  


@mixin button-outline {
    border-color: $color-medium-blue;
    background-color: unset;
    color: $color-dark;
    border-radius: 5px;
    height: fit-content;
    border:$color-medium-blue solid 2px;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
        opacity: 0.8;
    }
    &:active{
        opacity: 0.8;
    }
    &[disabled]{
        opacity: 0.4;

    }
    
}
@mixin hover{
    &:hover{
        transform: scale(1.1);
        opacity: 0.8;
    }
}

@mixin basic-register-layout{
    width: 70vw;
    height: 150px;
    background: $color-light-blue;
    border-radius: 7px;
    box-shadow: 0px 5px 34px 3px rgba(0,0,0,0.5);
    margin-bottom: 1rem;
    justify-content: space-between;
    padding: 0 2rem;
    position: relative;
    &:hover{
        opacity: 0.87;
        .remove-button{
            display: block;
        }
    }

  li >*{
    margin: 1rem;
  }
  .remove-button{
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 7px;
    cursor: pointer;
    color: $color-red;
    background: none;
    border-color: $color-red;
    display: none;
    &:hover{
        color: $color-light;
        background: $color-red;
        border-color: $color-light;
    }
  }
}
@mixin income-template{
    border-left: 25px solid $color-green;
    
    h2:nth-child(2){
        
        color: $color-green;
    }
}
@mixin expense-template{
    border-left: 25px solid $color-red;
    
    h2:nth-child(2){
        color: $color-red;
    }
}
