@import "variables_mixins";
@import "reset";
@import "login";


*{
    @include reset;
    font-family: $font-base;
}

nav{
    @include container;
    @include subHeading;
    background: $color-light-blue;
    display: flex;
    box-shadow: 0px 5px 34px 3px rgba(0,0,0,0.5);
    
    #nav__burger-menu{
        display: none;

    }
    .nav__logo-container{
        a,img{
           min-width: 80px; 
        }
    }
    .nav__modeToggle{
        a,img{
            min-width: 40px; 
         }
    }
    div{

        margin: 1rem;
        height: auto;
        width: 100px;
        justify-content: flex-start;
    }
   
    ul{
        @include flexCenter;
        justify-content: flex-end;
        gap: 3rem;
        flex-grow: 2;
        padding-right: 1rem;
        li{
            &:hover{
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    
    button{

        @include button;

        
    }
    .btn-outline{

            @include button-outline;

        }
   
    }

    .nav__modeToggle{
        width: 30px;
        height: 40px;
        justify-content: end;
        img{
            color: $color-dark;
        }
    }    
   
}

main{
    @include container;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
    .main__container-img  {
        width: 40%;
        
    }
    .main__hero{
        @include flexCenter;
        flex-direction: column;
        width: 50%;
        justify-content: space-evenly;
        
        h1{
            @include hero;
            letter-spacing: 2px
        }
        a {
            @include button;
            @include subHeading;
            color: $color-light;
            align-self:flex-start;
            margin-top:2.5rem ;
            padding: 0.7rem 2rem;
        }
    }

}
.section-divisor{
    @include flexCenter;
    background: $color-light-blue;
    height: 4rem;
    gap: 5rem;
    box-shadow: 0px 5px 34px 3px rgba(0,0,0,0.5);
    button{

        @include button;
        @include subHeading;
        color:$color-light;
        
    }
}
section{
    @include container;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    
    .section__container-callToAction{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 45%;
        gap: 2rem;
        
        h1{
            @include hero;
            letter-spacing: 3px;
        }
        p{
            @include subHeading;
        }
        button{
            @include button;
            @include subHeading;
            color: $color-light;
            align-self:flex-start;
            margin-top:2.5rem ;
            padding: 0.7rem 2rem;
        }
    }
    .section__container-image{
        width: 50%;
        margin-right: 5rem;
        
    }
}
#how-it-works{
    
    padding-bottom: 3rem;
}
footer{
    @include container;
    
    padding-top:3rem;
    background: $color-light-blue;
    box-shadow: 0px 5px 34px 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    
    .footer__contact-container{
        @include flexCenter;
        justify-content: space-evenly;
       
        flex-direction: column; 
        .footer__contact-items{
            align-self: flex-start;
            justify-content: space-between;
            i{
                padding-right: 2rem;
            }
            
        }   
    }   
    .footer__container-logo{
        width: 70px ;
        height: auto;
        
            a,img{
               min-width: 80px; 
            }
        
    }
    .footer__container-nav{
        @include subHeading;
        
        li{
            padding-bottom: 1.5rem;
            &:hover{
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
        
        
    }
    .footer__container-nav-buttons{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .footer__container-nav-btn-full{
            @include button;
            @include subHeading;
            color:$color-light;

        }
        .footer__container-nav-btn-outline{
            @include button-outline;
            @include subHeading;
        }

    }
    .footer__container-social{
        @include flexCenter; 
        gap: 3rem;
        .footer__social-add-hover{
            @include hover;

        }
        

    }
    .footer__contact-items{
        display: flex;
        flex-wrap: nowrap;
        

        img{
            width: 40px;
            margin-right: 2rem;
            margin-bottom: 1rem;
        }
    }
    
}
.footer__copyright{
    padding: 1rem 0;
    @include flexCenter;
    background: $color-light-blue;
}
.error{
    background: $color-red;
    border-radius: 5px;
    color: $color-light;
    padding: 0 5px;
    margin: 5px 0;
    display: none;
    
}
.loading{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
    height: 100%;
    @include flexCenter;
    img{
        width:10rem;
    }
}

.dark-mode{
    @include darkMode;
}
.light-mode{
    @include lightMode;
}

@media (prefers-color-scheme:light){
    body{
        @include lightMode;
    }
}
@media screen and (min-width: 1850px ) {
    main, section{
        padding: 0 12%;            
    }
    nav{
        ul{
            font-size: calc(1em + 15px);
        }
        .nav__logo-container{
            width: 150px;
        }
        .nav__modeToggle{
            width: 55px;
        }
    }
    .section__container-image, .main__container-img{
        padding: 5rem;
    }
    .button{
        @include heading;
    }
   
    
   .section-divisor{
    height: 6rem;
    h2{
        @include heading;
    }
    .button{
        @include heading;
    }
   }   
   
   section{
    .section__container-callToAction{
        p{
            font-size: 26px;
        }
        .button{
            @include heading;
        }
    }
   }
    footer{
        a,li{
            font-size: 35px;
        }
        .footer__container-logo{
            width: 152px;
        }
        .footer__container-nav-buttons{
            .button{
                @include heading;
            }
        }
        .footer__contact-container{
           
            .icon-query{
                font-size:4rem;
                
            }
            p{
                font-size: 28px;
            }
        }
    }
    .footer__copyright{
        font-size: 27px;
    }
}
@media screen and (max-width: 960px) {
    nav{
        justify-content: space-between;
        .nav__container-responsive{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            
            
        }
        ul{
            display: none;
        }
        #nav__burger-menu{
            display: block;
            justify-content: flex-end;
            padding-right: 1rem;
        }
       
    }
    main{
    .main__hero{
        h1{
            font-size: 44px;
        }}}
    section{
        #how-it-works{
            display: block;
        }
        .section__container-callToAction{
            
            h1{
                font-size: 48px;
            }
            
        }
    }
    .section-divisor{
        justify-content: space-evenly;
        padding: 0 1rem;
        h2{
            font-size: 20px;
        }
        a .button{
            font-size: 14px;
        }
    }
    footer{
        
            display: grid;
            grid-template-areas: 
            'logo-footer nav-footer'
            'button-footer social-footer  '
            'contact-footer contact-footer';
            gap: 1.5rem;
            .footer__container-social{
                gap: 1rem;
            }
       #contact-footer{
        grid-area: contact-footer;
        font-size: 14px;
        i{
            padding-right: 1rem;
        }
       }
       #logo-footer{
        grid-area: logo-footer;
       }
       #nav-footer{
        grid-area: nav-footer;
        font-size: 16px;
       }
       #button-footer{
        grid-area: button-footer;
        .button{
            font-size: 16px;
        }
        
       }
       #social-footer{
        grid-area: social-footer;
        a{
            font-size: 14px;
        }
       }
      .footer__contact-container{
        
        flex-direction: row;
      }
    }
    
}


@media screen and (max-width: 700px) {
    nav{
        justify-content: space-between;
        .nav__container-responsive{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            
            
        }
        ul{
            display: none;
        }
        #nav__burger-menu{
            display: block;
            justify-content: flex-end;
            padding-right: 1rem;
        }
       
    }
    main{
    .main__hero{
        h1{
            font-size: 44px;
        
        }

    }
    
    }

    #how-it-works{
            display: flex;
            flex-direction: column;

            .section__container-image{
                margin: auto;
                padding-bottom: 2rem;
               img{
               width: 100%;
              
            } 
            }
        
        }
    section{
        
        .section__container-callToAction{
            width: 100%;
            h1{
                font-size: 30px;
             
            }
            p{
                font-size: 20px;
            }
            a,.button{
                font-size: 14px;
            }
        }

    }

    .section-divisor{
        h2{
            font-size: 16px;

        }
        a,.button{
            font-size: 14px;
        }
        gap: 0;
    }


    footer{
        
            display: grid;
            grid-template-areas: 
            'logo-footer nav-footer'
            'button-footer social-footer  '
            'contact-footer contact-footer';
            gap: 1.5rem;
            .footer__container-social{
                gap: 1rem;
            }
       #contact-footer{
        grid-area: contact-footer;
        font-size: 14px;
        i{
            padding-right: 1rem;
        }
       }
       #logo-footer{
        grid-area: logo-footer;
       }
       #nav-footer{
        grid-area: nav-footer;
        font-size: 16px;
       }
       #button-footer{
        grid-area: button-footer;
        .button{
            font-size: 16px;
        }
        
       }
       #social-footer{
        grid-area: social-footer;
        a{
            font-size: 14px;
        }
       }
      .footer__contact-container{
        
        flex-direction: row;
      }
    }
    
}