li, a, a:visited, :active {
  list-style: none;
  text-decoration: none;
  color: #342E37;
}

img {
  width: 100%;
}

.nav__login {
  justify-content: space-between;
}

.login__page-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.login__page-input-field form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #B8C9D9;
  padding: 6rem 3rem;
  border-radius: 10px;
  box-shadow: 0px 5px 34px 3px rgba(0, 0, 0, 0.5);
}
.login__page-input-field form input {
  padding: 0.2rem;
}
.login__page-input-field button {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
  width: 100%;
}
.login__page-input-field button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.login__page-input-field button:active {
  opacity: 0.8;
}
.login__page-input-field button[disabled] {
  opacity: 0.4;
}
.login__page-input-field .login__input-register-button {
  border-color: #3b628a;
  background-color: unset;
  color: #342E37;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: #3b628a solid 2px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.8 ease-in;
}
.login__page-input-field .login__input-register-button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.login__page-input-field .login__input-register-button:active {
  opacity: 0.8;
}
.login__page-input-field .login__input-register-button[disabled] {
  opacity: 0.4;
}

.nav__arrow-back {
  width: 50px;
  height: 50px;
}

.nav__container-toggle-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register__header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: medium;
  font-size: 34px;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.nav__loggedin {
  padding: 0 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.nav__loggedin .nav__loggedin-coins__container {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav__loggedin .nav__loggedin-coins__container img {
  width: 30%;
}
.nav__loggedin .nav__loggedin-user__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
}
.nav__loggedin .nav__loggedin-user__container img {
  width: 30%;
}

.search__box {
  padding: 0 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  display: flex;
  border: 2px solid #262F60;
  border-radius: 5px;
  padding: 2px 7px;
  margin-top: 3rem;
  width: 300px;
}
.search__input span img {
  width: 25px;
}
.search__input input {
  border-style: hidden;
}
.search__input input:focus {
  outline: none;
}

.loggedin__body {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.loggedin__add-button {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
  font-weight: medium;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: fixed;
  color: #FDFFFC;
  bottom: 3rem;
  right: 3rem;
}
.loggedin__add-button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.loggedin__add-button:active {
  opacity: 0.8;
}
.loggedin__add-button[disabled] {
  opacity: 0.4;
}

div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 150px;
  background: #B8C9D9;
  border-radius: 7px;
  box-shadow: 0px 5px 34px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}
div ul:hover {
  opacity: 0.87;
}
div ul:hover .remove-button {
  display: block;
}
div ul li > * {
  margin: 1rem;
}
div ul .remove-button {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 7px;
  cursor: pointer;
  color: rgba(212, 38, 38, 0.9176470588);
  background: none;
  border-color: rgba(212, 38, 38, 0.9176470588);
  display: none;
}
div ul .remove-button:hover {
  color: #FDFFFC;
  background: rgba(212, 38, 38, 0.9176470588);
  border-color: #FDFFFC;
}

.income {
  border-left: 25px solid #13b92e;
}
.income h2:nth-child(2) {
  color: #13b92e;
}

.expense {
  border-left: 25px solid rgba(212, 38, 38, 0.9176470588);
}
.expense h2:nth-child(2) {
  color: rgba(212, 38, 38, 0.9176470588);
}

* {
  /*
    2. Remove default margin
  */
  /*
    3. Allow percentage-based heights in the application
  */
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  /*
    6. Improve media defaults
  */
  /*
    7. Remove built-in form typography styles
  */
  /*
    8. Avoid text overflows
  */
  /*
    9. Create a root stacking context
  */
  font-family: "Poppins", sans-serif;
}
* *, * *::before, * *::after {
  box-sizing: border-box;
}
* * {
  margin: 0;
}
* html, * body {
  height: 100%;
}
* body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
* img, * picture, * video, * canvas, * svg {
  display: block;
  max-width: 100%;
}
* input, * button, * textarea, * select {
  font: inherit;
}
* p, * h1, * h2, * h3, * h4, * h5, * h6 {
  overflow-wrap: break-word;
}
* #root, * #__next {
  isolation: isolate;
}

nav {
  padding: 0 7%;
  font-weight: bold;
  font-size: 20px;
  background: #B8C9D9;
  display: flex;
  box-shadow: 0px 5px 34px 3px rgba(0, 0, 0, 0.5);
}
nav div {
  margin: 1rem;
  height: auto;
  width: 100px;
  justify-content: flex-start;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  flex-grow: 2;
  padding-right: 1rem;
}
nav ul li:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
nav ul button {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
}
nav ul button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
nav ul button:active {
  opacity: 0.8;
}
nav ul button[disabled] {
  opacity: 0.4;
}
nav ul .btn-outline {
  border-color: #3b628a;
  background-color: unset;
  color: #342E37;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: #3b628a solid 2px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.8 ease-in;
}
nav ul .btn-outline:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
nav ul .btn-outline:active {
  opacity: 0.8;
}
nav ul .btn-outline[disabled] {
  opacity: 0.4;
}
nav .nav__modeToggle {
  width: 30px;
  height: 40px;
  justify-content: end;
}
nav .nav__modeToggle img {
  color: #342E37;
}

main {
  padding: 0 7%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
}
main .main__container-img {
  width: 40%;
}
main .main__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
}
main .main__hero h1 {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
}
main .main__hero button {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #FDFFFC;
  align-self: flex-start;
  margin-top: 2.5rem;
  padding: 0.7rem 2rem;
}
main .main__hero button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
main .main__hero button:active {
  opacity: 0.8;
}
main .main__hero button[disabled] {
  opacity: 0.4;
}

.section-divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B8C9D9;
  height: 4rem;
  gap: 5rem;
  box-shadow: 0px 5px 34px 3px rgba(0, 0, 0, 0.5);
}
.section-divisor button {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #FDFFFC;
}
.section-divisor button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.section-divisor button:active {
  opacity: 0.8;
}
.section-divisor button[disabled] {
  opacity: 0.4;
}

section {
  padding: 0 7%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
}
section .section__container-callToAction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  gap: 2rem;
}
section .section__container-callToAction h1 {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 3px;
}
section .section__container-callToAction p {
  font-weight: bold;
  font-size: 20px;
}
section .section__container-callToAction button {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #FDFFFC;
  align-self: flex-start;
  margin-top: 2.5rem;
  padding: 0.7rem 2rem;
}
section .section__container-callToAction button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
section .section__container-callToAction button:active {
  opacity: 0.8;
}
section .section__container-callToAction button[disabled] {
  opacity: 0.4;
}
section .section__container-image {
  width: 50%;
  margin-right: 5rem;
}

footer {
  padding: 0 7%;
  padding-top: 3rem;
  background: #B8C9D9;
  box-shadow: 0px 5px 34px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}
footer .footer__container-logo {
  width: 70px;
  height: auto;
}
footer .footer__container-nav {
  font-weight: bold;
  font-size: 20px;
}
footer .footer__container-nav li {
  padding-bottom: 1.5rem;
}
footer .footer__container-nav li:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
footer .footer__container-nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-full {
  background-color: #3b628a;
  color: #FDFFFC;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  padding: 0.3rem 0.8rem;
  letter-spacing: 2px;
  transition: 0.8 ease-in;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #FDFFFC;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-full:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-full:active {
  opacity: 0.8;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-full[disabled] {
  opacity: 0.4;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-outline {
  border-color: #3b628a;
  background-color: unset;
  color: #342E37;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: #3b628a solid 2px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.8 ease-in;
  font-weight: bold;
  font-size: 20px;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-outline:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-outline:active {
  opacity: 0.8;
}
footer .footer__container-nav-buttons .footer__container-nav-btn-outline[disabled] {
  opacity: 0.4;
}
footer .footer__container-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
footer .footer__container-social .footer__social-add-hover:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
footer .footer__contact-items {
  display: flex;
  flex-wrap: nowrap;
}
footer .footer__contact-items img {
  width: 40px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.footer__copyright {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B8C9D9;
}

.error {
  background: rgba(212, 38, 38, 0.9176470588);
  border-radius: 5px;
  color: #FDFFFC;
  padding: 0 5px;
  margin: 5px 0;
  display: none;
}

.loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 10rem;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode p, .dark-mode .main__hero {
  color: #FDFFFC;
}
.dark-mode button {
  background: #B8C9D9;
  color: #342E37;
}
.dark-mode button .outline {
  background: none;
  border-color: #FDFFFC;
  color: #FDFFFC;
}
.dark-mode svg {
  color: #B8C9D9;
}
.dark-mode body, .dark-mode main, .dark-mode .search__box, .dark-mode input, .dark-mode section {
  background: #342E37;
}
.dark-mode body button, .dark-mode main button, .dark-mode .search__box button, .dark-mode input button, .dark-mode section button {
  background: #B8C9D9;
  color: #342E37;
}
.dark-mode body button .outline, .dark-mode main button .outline, .dark-mode .search__box button .outline, .dark-mode input button .outline, .dark-mode section button .outline {
  background: none;
  border-color: #FDFFFC;
  color: #FDFFFC;
}
.dark-mode form {
  background-color: #262F60;
}
.dark-mode form label, .dark-mode form textarea:focus, .dark-mode form input:focus {
  color: #FDFFFC;
}
.dark-mode form button, .dark-mode form .login__input-register-button {
  background: none;
  border-color: #FDFFFC;
  color: #FDFFFC;
}
.dark-mode nav {
  background: #3b628a;
}
.dark-mode nav .btn-outline {
  border: solid #342E37 2px;
}
.dark-mode ul {
  background: #3b628a;
}
.dark-mode .input__search {
  color: #FDFFFC;
}
.dark-mode .search__input, .dark-mode a {
  border-color: #B8C9D9;
  color: #FDFFFC;
}
.dark-mode footer, .dark-mode .footer__copyright {
  background: #3b628a;
}
.dark-mode .footer__copyright {
  background: #3b628a;
}
.dark-mode i {
  color: #B8C9D9;
}
.dark-mode .section-divisor {
  background: #3b628a;
}
.dark-mode #login-button, .dark-mode #recover-password-button {
  background: #3b628a;
}
.dark-mode .footer__container-nav-buttons a button {
  color: #FDFFFC;
  border: solid #342E37 2px;
}

.light-mode h1, .light-mode h2, .light-mode h3, .light-mode h4, .light-mode h5, .light-mode h6, .light-mode p {
  color: #342E37;
}
.light-mode .footer__container-nav-buttons button {
  background-color: #B8C9D9;
}
.light-mode button {
  background: #3b628a;
  color: #FDFFFC;
}
.light-mode button .outline {
  background: none;
  border-color: #3b628a;
  color: #342E37;
}
.light-mode svg {
  fill: #262F60;
}
.light-mode body {
  background: #FDFFFC;
}
.light-mode ul {
  background: #B8C9D9;
}
.light-mode nav {
  background: #B8C9D9;
}
.light-mode .search__input {
  border-color: #3b628a;
}
.light-mode i {
  color: #262F60;
}

@media (prefers-color-scheme: light) {
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    color: #342E37;
  }
  body .footer__container-nav-buttons button {
    background-color: #B8C9D9;
  }
  body button {
    background: #3b628a;
    color: #FDFFFC;
  }
  body button .outline {
    background: none;
    border-color: #3b628a;
    color: #342E37;
  }
  body svg {
    fill: #262F60;
  }
  body body {
    background: #FDFFFC;
  }
  body ul {
    background: #B8C9D9;
  }
  body nav {
    background: #B8C9D9;
  }
  body .search__input {
    border-color: #3b628a;
  }
  body i {
    color: #262F60;
  }
}/*# sourceMappingURL=global.css.map */